body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.home_container_createlink{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(240deg,#fff9b0,#fed049);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_container_createlink .home_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.home_container_createlink h1{
    font-size: 40px;
    text-transform: uppercase;
    color: #f8b500;
}

.home_container_createlink .input{
    width: 960px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 7px;
    border: 2px solid #e6e6e6;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 270;
}

.home_container_createlink .input::placeholder{
    color: #dddddd;
}

.home_container_createlink .home_form_submit-button{
    width: 220px;
    height: 56px;
    margin-bottom: 20px;
    padding: 1px 2px;
    border-radius: 7px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 270;
    color: #26001b;
    background: #F3CCCC;
    cursor: pointer;
}

.account-button{
    width: 9.059vw;
    height: 4.059vw;
    position: absolute;
    top: 1.389vw;
    right: 1.389vw;
    text-align: center;
    line-height: 4.059vw;
    background: #79D9BD;
    color: #181D20;
    box-shadow: 0 4px 8px 0 #00000040;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 1.042vw;
    font-weight: 600;
    z-index: 3;
}

.copylink-button{
    display: flex;
    width: 35.904vw;
    height: 4.435vw;
    font-size: 1.2vw;
    text-align: center;
    line-height: 3.435vw;
    cursor: pointer;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 #00000040;
    border-radius: 1.042vw; 
}

.newlink-button{
    margin-top: 4.097vw;
    line-height: auto;
    text-align: center;
    line-height: 3.841vw;
    text-decoration: none;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

.account_zone{
    z-index: 1;
    width: 33.351vw;
    height: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
}

.account_container{
    z-index: 2;
    width: 33.351vw;
    height: 100vw;
    position: relative;
    top: 0;
    right: 0;
    background: #464259;;
    transform: translateX(33.351vw);
}

.account_container_reveal{
    animation-name: reveal;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    transform: translateX(33.351vw);
    animation-timing-function: ease-in-out;
}

@keyframes reveal{
    100%{
        transform: translateX(0);
    }
}

.home_form_moove{
    animation-name: moove;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.home_form_moove .input{
    width: 700px;
}

@keyframes moove{
    100%{
        transform: translateX(-18.028vw);
    }
}

.account_link-title{
    color: #FFFFFF;
    font-size: 1.528vw;
    padding-top: 10vw;
    padding-left: 1.736vw;
}

.account_link-container{
    height: 37.905vw;
    width: 33.333vw;
    margin-top: 0.625vw;
    overflow: scroll;
}

.account_link-element{
    display: flex;
    width: 32vw;
    height: 3.260vw;
    background: #A98080;
    margin-top: 0.764vw;
    justify-content: space-around;
    align-items: center;
}

.account_link-element_title{
    width: 16.66vw;
    margin-left: 1.042vw;
    overflow: scroll;
}

.account_link-element_state{
    width: 1.256vw;
    height: 1.256vw;
    background: #14FF00;
    border: 0.028vw solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}

.account_link-element_stateoff{
    width: 1.256vw;
    height: 1.256vw;
    background: #FF0000;
    border: 0.028vw solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}

.account_link-element_activate-button{
    width: 7.872vw;
    height: 1.346vw;
    margin-left: 1.944vw;
    background: #C4C4C4;
    text-align: center;
    cursor: pointer;
    color: red;
}

.account_link-element_views{
    width: 5.872vw;
    height: 1.346vw;
    background: #C4C4C4;
    display: flex;
    justify-content: space-around;
}

.state_button_desactivate, .state_button_activate{
    display: flex;
    width: 5.625vw;
    justify-content: center;
}

.short-url-container{
    width: 20.904vw;
    height: 3.390vw;
    font-size: 1.806vw;
    background: #F6F5F5;
    margin-top: 42px;
    text-align: center;
    line-height: 3.390vw;
}

.activation-form p{
    display: inline-block;
    font-size: 0.7rem;
}

